<!-- <p>navbar works!</p> -->
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <a 
   routerLink="/"
   style="margin-right: 20px; size: 500px;"
   mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Exam Portal
   </a>
   <span class="example-spacer"></span>
   <a 
   routerLink="/login"
   style="margin-right: 20px;"
   mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Login
   </a>
   <a 
   routerLink="/signup"
   style="margin-right: 20px;"
   mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Register
</a>
 </mat-toolbar>